nav {
  color: white;
  background-color: #121212;
  position: absolute;
  border-style: solid;
  border-color: #121212;
  border-width: thin;
  border-radius: 10px;
  width: 30%;
  height: auto;
  margin-left: 5px;
  padding: 10px;
  left: 5px;
  top: 100px;
  font-size: large;

}

#menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#menu>ul>li {
  
  border: solid;
  border-width: 50%;
  border-radius: 10px;
  border-color: #1ECB5A;
  list-style: none;
  margin-top: 10px;
  padding:10px;
  font-family: 'sour-gummy';
}
#menu>ul>li:hover {
  margin-left: 20px;
  transition-duration: 0.5s;
}

#menu>ul>li>a {
  text-decoration: none;
  color: #1ECB5A;
}