main {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr;
  grid-template-columns: 32% 68%;
  column-gap: 10px;
  row-gap: 30px;
}

#presentation {
  grid-column: 2;
  grid-row: 1;
  background-color: #121212;
  border-radius: 10px;
}

#presentation>h1{
  color: #1ECB5A;
  padding-left: 10px;
}

#presentation>p{
  color: white;
  padding-left: 10px;
}

