body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#000000, #1ECB5A);
}


.sour-gummy {
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}