body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(#000000, #1ECB5A);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    color: white;
    margin: auto;
    overflow: hidden;
    background: #121212;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background: transparent;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    font-family: 'sour-gummy';
}


ul {
    padding: 0;
    list-style: none;
}

nav {
    color: black;
}

.nav ul {
    float: right;
}

.nav ul li {
    display: inline;
    margin-left: 5px;
}

.content {
    margin-top: 20px;
    background-color: #121212;
    border-radius: 10px;
    color: white;
}

h1,
h2 {
    color: white;
}

.bouton,
.bouton>a {
    color: #1ECB5A;
    font-size: large;
}