main {
  background-color: #121212;
  margin-left: 33%;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-bottom: 30%;
  
}

main>h1 {
  font-family: 'sour-gummy';
  color: #1ecb5a;
}

#developpeur {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

section>h2 {
  font-family: 'sour-gummy';
  color: #1ecb5a;
}