main {
  background-color: #121212;
  position: absolute;
  left: 33%;
  width: 68%;
  display: flex;
  justify-content: space-between;
  
  

}
/* nav dans la main */
main>nav {
  color: white;
  border-style: solid;
  border-color: #121212;
  border-width: thin;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  display: inline-block;
  width: 25%;
  height: auto;
  right: 10px;
  padding-bottom: 50px;
}


#bouton {
  background-color: #1ECB5A;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-top: 100px;
  width: auto;
}

#bouton>a {
  color: white;
  text-decoration: none;
}

/* défilement des caractères*/

.Commentaire {
  position: absolute; 
  top: 100%;
  bottom: 0; 
  width: 30%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
}
.defilement {
  position: absolute;
  bottom: 0; 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  
} 
@keyframes defilement { 
  0% { 
      transform: translateY(100%);
      opacity: 0;
  }
  10% {
      opacity: 1;
  }
  50% {
      transform: translateY(-50%);
      opacity: 1; 
  }
  90% { 
      opacity: 1; 
  } 
  100% { 
      transform: translateY(-100%); 
      opacity: 0; 
  } 
} 
.defilement div { 
  margin: 10px 0; 
  padding: 10px; 
  background-color: #1ECB5A; 
  color: white; 
  border-radius: 20px;
  width: 80%;
  text-align: center; 
  animation: defilement 15s linear infinite;
}