nav {
  color: white;
  background-color: #121212;
  position: absolute;
  border-style: solid;
  border-color: #121212;
  border-width: thin;
  border-radius: 10px;
  width: 30%;
  height: auto;
  margin-left: 5px;
  padding: 2px;
  left: 5px;
  top: 100px;
  font-size: large;

}

.objectif {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
}

.conviction {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 10px;
}

nav>div>h1 {
  text-align: center;
}