body>header {
    position: absoluet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    height: 70px;
    width: 97%;
  }
  
  /* code de la partie gauche*/
  .partLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
  }
  
  section>div>a>h1 {
    font-size: xx-large;
  
  }
  
  .partLeft>.title>a {
    text-decoration: none;
    color: #1ECB5A;
  }
  
  
  /*code de la partie droite*/
  .partRight {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .inscription>a {
      text-decoration: none;
      color: grey
    }
  
    .connexion>a {
      text-decoration: none;
      color: grey;
  
    }
  
    .connexion {
      text-align: center;
      margin: 10px;
      font-size: large;
  
    }
  
    .inscription {
      text-align: center;
      margin: 10px;
      font-size: large;
    }
  
    .inscription>a:hover {
      color: white;
    }
  
    .connexion>a:hover {
      color: white;
    }