main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  }

  .bloc {
  background-image: linear-gradient(#05050a, #181620);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
    margin: 10px;
    padding: 20px;
    color:white;
    border-radius: 2%;
    text-align: center;
  }

  .bouton img {
    width: 100%;
    filter:invert(70%);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 100%;
  }
  
  .bouton{
    margin: 10px;
  
  }

  .bouton >*{
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  
  /* défilement des caractères*/
  .defilement{
  height:70%;
  overflow: hidden;
  }

   .bulle {  
    margin: 10px 0;
    padding: 10px;
    background-color: #1ecb5a;
    color: white;
    border-radius: 20px;
    text-align: center;
    animation: defilement 30s linear infinite;
  
  }

  @keyframes defilement {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  } */
