main {
    background-color: white;
    position: absolute;
    left: 33%;
    width: 66.5%;
    height: 80.8%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #121212;
  }
  /* nav dans la main */
  main > nav {
    grid-column: 2;
    color: white;
    background-color: #1f1f1f;
    border-radius: 10px;
    text-align: center;
    font-size: large;
    margin: 5px;
  }
  
  #bouton {
    background-color: #1ecb5a;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 100px;
    width: auto;
  }
  
  #bouton > a {
    color: white;
    text-decoration: none;
  }
  
  /* défilement des caractères*/
  
  .Commentaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
  }
  
  /* .defilement {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @keyframes defilement {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    50% {
      transform: translateY(-50%);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  } */
  .defilement div {
    margin: 10px 0;
    padding: 10px;
    background-color: #1ecb5a;
    color: white;
    border-radius: 20px;
    width: 80%;
    text-align: center;
    animation: defilement 15s linear infinite;
  }